# system
.DS_Store

# lib
/node_modules/

# generated
/.svelte-kit
/public/build/
/src/logic/cardata/database.json
/3d/
/dist
/build

vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# misc
/example*.js