// Override default variables
$primary-hue: 335;



// $primary-500: #84f403;
// $primary-600: #84f403;
// $primary-700: #84f403;

// Import Pico
// @import "@picocss/pico/scss/pico";

:root {
  --primary: #f85e87;
  --primary-shadow: #c5384d;
  --primary-inverse: #fff;
  --primary-hover: #F7A9A8;
  --secondary:#A2DED0;
}

@font-face {
  font-family: "Publicpixel";
  src: url("fonts/PublicPixel.ttf") format('truetype');
}



.button,
button {
  background-color: var(--primary);
  color : var(--primary-inverse);
  border: 6px solid var(--primary);
  // box-shadow: 1px 1px 0px 2px var(--secondary);
  border-bottom-color:var(--primary-shadow);
  border-right-color:var(--primary-shadow);

  display: block;
  padding : 1em;
  // margin: .5em;

  font-family: "Publicpixel", courier, monospace;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;

}

.button.secondary {
  background-color: var(--primary-inverse);
  color: var(--secondary);
  border-color:var(--secondary);
}

.button:is([aria-current], :hover, :active),
button:is([aria-current], :hover, :active),
input[type=submit]:is([aria-current], :hover, :active),
input[type=button]:is([aria-current], :hover, :active),
input[type=reset]:is([aria-current], :hover, :active),
[role=button]:is([aria-current], :hover, :active) {
  // background-color: var(--primary-shadow);
  border-color: var(--primary);
  background-color: var(--primary-hover);
}
.button:focus,
button:is([aria-current], :focus),
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
[role=button]:focus {
  border-color: var(--primary-hover);
}

.button.secondary:is([aria-current], :hover, :active, :focus)
{
  background-color: var(--primary-inverse);
  color: var(--primary);
  border-color: var(--primary-hover);
}
