// Override default variables
$primary-hue: 335;



// $primary-500: #84f403;
// $primary-600: #84f403;
// $primary-700: #84f403;

// Import Pico
// @import "@picocss/pico/scss/pico";

:root {
  --primary: #f85e87;
  --primary-inverse: #fff;
  --primary-hover: #F7A9A8;
  --secondary:#A2DED0;
}

@font-face {
  font-family: "Publicpixel";
  src: url("fonts/PublicPixel.ttf") format('truetype');
}



.button,
button {
  background-color: var(--primary);
  color : var(--primary-inverse);
  border: 0.1em solid var(--primary-inverse);
  box-shadow: 1px 1px 0px 2px var(--secondary);

  display: block;
  padding : 1em;
  margin: .5em;

  font-family: "Publicpixel", courier, monospace;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

button.secondary {
  background-color: var(--primary-inverse);
  color: var(--secondary);
}

.button:is([aria-current], :hover, :active, :focus),
button:is([aria-current], :hover, :active, :focus),
input[type=submit]:is([aria-current], :hover, :active, :focus),
input[type=button]:is([aria-current], :hover, :active, :focus),
input[type=reset]:is([aria-current], :hover, :active, :focus),
[role=button]:is([aria-current], :hover, :active, :focus) {
  background-color: var(--primary-hover);
}
.button:focus,
button:is([aria-current], :hover, :active, :focus),
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
[role=button]:focus {
  box-shadow: 1px 1px 0px 2px var(--primary);
  border: 0.3em solid var(--primary-inverse);
  padding : 0.8em;
}

button.secondary:is([aria-current], :hover, :active, :focus)
{
  background-color: var(--primary-inverse);
  color: var(--primary);
}
